---
# Defaults from the LLVM style.
BasedOnStyle: LLVM

ColumnLimit: 120
PointerAlignment: Left
AlwaysBreakTemplateDeclarations: Yes
AlignConsecutiveDeclarations: AcrossComments
AlignConsecutiveAssignments: AcrossComments
AlignConsecutiveMacros: AcrossComments
AlwaysBreakAfterDefinitionReturnType: TopLevel
BinPackParameters: false
SpaceAfterCStyleCast: false
BreakBeforeBraces: WebKit
---
Language: Cpp
Standard: c++17
---
